{% extends 'base.html' %}

{% block title %} About Page {% endblock %}

{% block body %}

<body>
    <h1>About Vertical Tank Maintenance</h1>

    <br>
    <br>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eligendi, quasi repellendus deleniti nam maiores. Cum voluptatibus beatae facere possimus, eveniet similique, blanditiis molestias, recusandae magni alias ipsa? Voluptate, libero.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam reprehenderit vel, deserunt consequatur dolorum, labore id, similique vero quod quam quasi ab aliquam iusto odio eaque facere neque cum fugiat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi minus provident voluptatum recusandae. Cumque magni unde laboriosam, perspiciatis atque quas ipsa corporis praesentium blanditiis ea perferendis cupiditate consectetur! Maxime!</h3>
</body>

{% endblock %}